header {
    text-align: center;
    background-color: chocolate;
    color: lavenderblush;
}

.col-4 {
    background-color: cornflowerblue;
    padding: 10px;
}

.col-8 {
    background-color: lemonchiffon;
}

section {
    margin: 5px;
    background-color: indianred;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

article {
    padding: 20px;
    background-color: crimson;
}